* {
    /* border: 1px solid rgba(255, 0, 0, 0.575); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url(assets/Montserrat-VariableFont_wght.ttf);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

a {
    text-decoration: none;
    color: #1c1c1c;
    padding: 5px;
    background-color: #bbddda;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

a:hover {
    background-color: #6ab4ae;
    color: #edf6f9;
}

a:active {
    background-color: #528a85;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #edf6f9;
}

table {
    padding: 15px;
    width: 100%;
}

th {
    background-color: #006d77;
    color: #edf6f9;
    font-family: Montserrat;
}

th,
td {
    padding: 4px;
}

tr:hover {
    background-color: #bbddda9d !important;
}

th,
td,
tr {
    border: 0.5px solid #006d7796;
    border-style: dotted;
}

tr:nth-child(odd) {
    background-color: #e7e7e7cc;
}

th:nth-child(1) {
    border-radius: 10px 0 0 0;
}

th:nth-last-child(1) {
    border-radius: 0 10px 0 0;
}

tr:nth-last-child(1) td:nth-child(1) {
    border-radius: 0 0 0 10px;
}

tr:nth-last-child(1) td:nth-last-child(1) {
    border-radius: 0 0 10px 0;
}

input[type="text"], input[type="password"] {
    width: 100%;
    border: #006d77 1px solid;
    border-style: none none solid none;
    font-size: 1.1em;
    background-color: transparent;
    margin: 0;
}

img {
    zoom: 30%;
}

th:nth-last-child(1) {
    width: 0;
}

.title {
    background-color: #6ab4ae;
    color: white;
    font-weight: normal;
}

div {
    overflow-x: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

article {
    background-color: #bbddda;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    align-self: flex-start;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
    background-color: #e8eaeb;
    border-radius: 15px;
}

summary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: space-around;
    align-content: center;
}

summary tbody {
    background-color: #f0fffd;
}

summary table:nth-child(1) tr:nth-child(1) td:nth-child(1) {
    border-radius: 10px 0 0 0 0;
}

summary table:nth-child(1) tr:nth-last-child(1) td:nth-child(1) {
    border-radius: 0 0 0 10px;
}

summary table:nth-child(2) tr:nth-child(1) td:nth-child(1) {
    border-radius: 10px 0 0 0;
}

summary table:nth-child(2) tr:nth-last-child(1) td:nth-last-child(1) {
    border-radius: 0 0 10px 0;
}

summary table:nth-child(2) tr:nth-child(1) td:nth-last-child(1) {
    border-radius: 0 10px 0 0;
}

table:nth-child(1) tr:nth-child(1) td:nth-child(1) {
    border-radius: 10px 0 0 0;
}

table:nth-child(1) tr:nth-child(1) td:nth-last-child(1) {
    border-radius: 0 10px 0 0;
}

summary table,
summary tr {
    margin: 0;
    padding: 0;
}

summary table {
    width: 50%;
}

button {
    border: none;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    color: #1c1c1c;
    background-color: #bbddda;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
    font-size: 1.08em;
}

button:hover {
    background-color: #6ab4ae;
    color: #edf6f9;
}

button:active {
    background-color: #528a85;
}

span {
    margin: 3px;
}

.checkcontainer {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

.checkcontainer + .checkcontainer {
    margin-top: 1em;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: transparent;
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: #006d77;
    width: 1em;
    height: 1em;
    border: 0.15em solid #006d77;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
    /* Windows High Contrast Mode */
    background-color: #006d77;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(1px, 0.1em) solid #006d77;
    outline-offset: max(1px, 0.1em);
}

.high {
    font-family: Montserrat;
    font-weight: bold;
    margin: 0;
}

.highlight {
    border: 1px solid #006d77;
    box-sizing: content-box;
}

select {
    border-radius: 6px;
    background-color: #f0fffd;
    font-family: Montserrat;
    font-size: 0.9em;
    font-weight: bold;
    border: 0.5px solid #006d77;
    margin: 5px 0 0 7px;
}
option {
    font-family: Montserrat;
    font-weight: bold;
}

img {
    cursor: pointer;
}

.pencil {
    border-radius: 6px;
    margin: 6px;
}

.pencil:hover {
    background-color: #6ab4ae;
}

.inaccess {
    cursor: not-allowed;
}

.inaccess:hover {
    background-color: #528a85;
    color: rgb(189, 189, 189);
}

@media only screen and (orientation: portrait) {
    table {
        padding: 0;
        width: 100%;
    }
    summary {
        flex-direction: column;
        justify-content: center;
        align-content: stretch;
        overflow-x: auto;
        margin: 15px 0 15px 0;
    }

    summary table {
        width: auto;
    }

    summary table:nth-child(1) tr:nth-child(1) td:nth-child(1) {
        border-radius: 10px 0 0 0 0;
    }

    summary table:nth-child(1) tr:nth-last-child(1) td {
        border-radius: 0 !important;
    }

    summary table:nth-child(2) tr:nth-child(1) td {
        border-radius: 0 !important;
    }

    summary table:nth-child(2) tr:nth-last-child(1) td:nth-last-child() {
        border-radius: 0 0 10px 0;
    }

    summary td {
        width: 50% !important;
    }
}

@media only screen and (max-width: 432px) {
    table:nth-child(1) tr:nth-child(6) span {
        word-break: break-word;
    }
}
@media only screen and (max-width: 410px) {
    summary td {
        width: 50%;
    }
}

@media only screen and (max-width: 385px) {
    span {
        font-size: 0.8em;
    }
    * {
        margin: 0;
        padding: 0;
    }
}



/* Sign in/Anmelden */

main {
    border: #006d77 1px solid;
    background-color: #faffff;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
}

h2, h3 {
    text-align: center;
    justify-self: flex-start;
    font-family: Montserrat;
    margin: 5px 0 5px 0;
}
/* 
main input {
    margin: 5px 0 5px 0 !important; 
} */

main form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

button[type="submit"] {
    width: 100%;
    font-family: Montserrat;
    font-weight: bold;
}

main form div:nth-child(2) input {
    margin: 10px 0 10px 0;
}

@media only screen and (orientation: portrait) {
    main {
        background-color: #edf6f9;
        border: none;
        overflow: hidden;

    }
    body {
        overflow: hidden;
    }
    main div {
        overflow: hidden;
    }
}

@media only screen and (max-width: 386px) {
    main {
        background-color: #edf6f9;
        border: none;
        overflow: hidden;
        width: 100%;
        height: 100%;

    }
    body {
        overflow: hidden;
    }
    main div {
        overflow: hidden;
    }
}