* {
    /* border: 1px solid rgba(255, 0, 0, 0.575); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url(assets/Montserrat-VariableFont_wght.ttf);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

a {
    text-decoration: none;
    color: #1c1c1c;
    padding: 5px;
    background-color: #bbddda;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

a:hover {
    background-color: #6ab4ae;
    color: #edf6f9;
}

a:active {
    background-color: #528a85;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #edf6f9;
}

table {
    padding: 15px;
    width: 100%;
}

th {
    background-color: #006d77;
    color: #edf6f9;
    font-family: Montserrat;
}

th,
td {
    padding: 4px;
}

th,
td,
tr {
    border: 0.5px solid #006d7796;
    border-style: dotted;
}

tr:nth-child(odd) {
    background-color: #e7e7e7cc;
}

th:nth-child(1) {
    border-radius: 10px 0 0 0;
}

th:nth-last-child(1) {
    border-radius: 0 10px 0 0;
}

tr:nth-last-child(1) td:nth-child(1) {
    border-radius: 0 0 0 10px;
}

tr:nth-last-child(1) td:nth-last-child(1) {
    border-radius: 0 0 10px 0;
}

img {
    zoom: 30%;
}

th:nth-last-child(1) {
    width: 0;
}

.title {
    background-color: #6ab4ae;
    color: white;
    font-weight: normal;
}

div {
    overflow-x: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

article {
    background-color: #bbddda;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    align-self: flex-start;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
    background-color: #e8eaeb;
    border-radius: 15px;
}


summary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
}

summary table, summary tr {
    margin: 0;
    padding: 0;
}

summary table {
    width: auto;
}

summary td {
    height: 50px;
}

button {
    border: none;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    color: #1c1c1c;
    background-color: #bbddda;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
    font-size: 1.08em;
}

button:hover {
    background-color: #6ab4ae;
    color: #edf6f9;
}

button:active {
    background-color: #528a85;
}


span {
    margin: 3px;
}

.highlight {
    border: 1px solid #006d77;
    box-sizing: content-box;
}

img {
    cursor: pointer;
}

.pencil {
    border-radius: 6px;
    margin: 6px;
}

.pencil:hover {
    background-color: #6ab4ae;
}

.inaccess {
    cursor: not-allowed;
}

.inaccess:hover {
    background-color: #528a85;
    color: rgb(189, 189, 189);
}


@media only screen and (orientation: portrait) {
    summary {
        flex-direction: column;
        justify-content: center;
        overflow-x: auto;
        margin: 15px 0 15px 0;
    }
    
    summary td {
        width: 50%;
    }
}

@media only screen and (max-width: 432px) {
    table:nth-child(1) tr:nth-child(6) span {
        word-break: break-word;
    }
}
@media only screen and (max-width: 410px) {
    summary td {
        width: auto;
    }
}

@media only screen and (max-width: 385px) {
    span {
        font-size: 0.8em;
    }
}
