* {
    /* border: 1px solid rgba(255, 0, 0, 0.575); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url(assets/Montserrat-VariableFont_wght.ttf);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

a {
    text-decoration: none;
    color: #1c1c1c;
    padding: 5px;
    background-color: #bbddda;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

a:hover {
    background-color: #6ab4ae;
    color: #edf6f9;
}

a:active {
    background-color: #528a85;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #edf6f9;
}

table {
    padding: 15px;
}

th {
    background-color: #006d77;
    color: #edf6f9;
    font-family: Montserrat;
}

th,
td {
    padding: 4px;
}

th,
td,
tr {
    border: 0.5px solid #006d7796;
    border-style: dotted;
}

tr:nth-child(odd) {
    background-color: #e7e7e7cc;
}

th:nth-child(1) {
    border-radius: 10px 0 0 0;
}

th:nth-last-child(1) {
    border-radius: 0 10px 0 0;
}

tr:nth-last-child(1) td:nth-child(1) {
    border-radius: 0 0 0 10px;
}

tr:nth-last-child(1) td:nth-last-child(1) {
    border-radius: 0 0 10px 0;
}

img {
    zoom: 30%;
}

th:nth-last-child(1) {
    width: 0;
}

.title {
    background-color: #6ab4ae;
    color: white;
    font-weight: normal;
}

div {
    overflow: auto;
}

article {
    background-color: #bbddda;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    align-self: flex-start;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
    background-color: #e8eaeb;
    border-radius: 15px;
}

button {
    border: none;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    color: #1c1c1c;
    background-color: #bbddda;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
    font-size: 1.08em;
}

button:hover {
    background-color: #6ab4ae;
    color: #edf6f9;
}

button:active {
    background-color: #528a85;
}


span {
    margin: 3px;
}

.highlight {
    border: 1px solid #006d77;
    box-sizing: content-box;
}

img {
    cursor: pointer;
}

.pencil {
    border-radius: 6px;
    margin: 6px;
}

.pencil:hover {
    background-color: #6ab4ae;
}

.inaccess {
    cursor: not-allowed;
}

.inaccess:hover {
    background-color: #528a85;
    color: rgb(189, 189, 189);
}

/* grid */

.summary {
    display: grid;
    margin: 15px;
    border-radius: 15px;
    border: 0.5px solid #006d7796;
    border-style: dotted;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    overflow: initial;
    grid-template-areas:
        "one two three four buttons"
        "five six seven eight buttons"
        "nine ten eleven twelve buttons";
}



.buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.buttons img {
    width: 90px;
    height: 90px;
    border-radius: 15px;
    margin: 0 15px 0 15px;
}

.buttons button {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.ten {
    grid-area: ten;
}

.eleven {
    grid-area: eleven;
}


.summary div {
    overflow: initial;
}
